<?js
  /* This component renders the main-page & package description pages. */
  const mainPage = obj;
?>

<?js if (mainPage.type === 'PackageDoc') { ?>
    <h3><?js= mainPage.name ?> <?js= mainPage.version ?></h3>
<?js } ?>

<?js if (mainPage.readme) { ?>
    <section>
        <article class="readme content-size"><?js= mainPage.readme ?></article>
    </section>
<?js } ?>
