<div>
    <h3 class="subsection-title">Inherited Properties</h3>

    <?js
      /* Collapsible panes for inherited properties for all ancestor classes */
      const {
        ancestorClasses /*: ClassDoc[] */,
        properties /*: PropertyDoc[] */
      } = obj;

      ancestorClasses.forEach((parentClass) => {
          if (typeof parentClass === "string") {
            // Class is unresolved because it doesn't exist!
            return;
          }

          const inheritedProperties = properties.filter(prop => prop.inherits && prop.inherits.parent === parentClass);

          if (inheritedProperties.length === 0) {
            return;
          }
    ?>
        <?js= this.partial('sublayouts/collapsible-group.tmpl', {
          title: "From class " + this.linkTo(parentClass, parentClass.path),
          group: inheritedProperties
        }) ?>
    <?js }); ?>
</div>
