<div>
    <h3 class="subsection-title">Inherited Events</h3>

    <?js
      /* Collapsible panes for inherited events for all ancestor classes */
      const {
        ancestorClasses /*: ClassDoc[] */,
        events /*: EventDoc[] */
      } = obj;

      ancestorClasses.forEach((parentClass) => {
          if (typeof parentClass === "string") {
            // Class is unresolved because it doesn't exist!
            return;
          }

          const inheritedEvents = events.filter(method => method.inherits && method.inherits.parent === parentClass);

          if (inheritedEvents.length === 0) {
            return;
          }
    ?>
        <?js= this.partial('sublayouts/collapsible-group.tmpl', {
          title: "From class " + this.linkTo(parentClass, parentClass.name),
          group: inheritedEvents,
          template: 'method.tmpl'
        }) ?>
    <?js }); ?>
</div>
