<?js
const doc = obj;
var self = this;
?>
<dl class="details">
    <?js
        var properties = doc.type === "NSDoc" || doc.type === "ClassDoc" ? [] : doc.members.filter(child => child.type === "PropertyDoc");
        if (properties && properties.length && properties.forEach) {
    ?>

        <h5 class="subsection-title">Properties:</h5>

        <?js // Don't list data-type for enum members ?>
        <dl><?js= this.partial('components/property-table.tmpl', { properties, noType: doc.type === "EnumDoc", noAttributes: doc.type === "EnumDoc" }) ?></dl>
    <?js } ?>

    <?js if (doc.deprecated && (doc.type === "ClassDoc" || doc.type === "NSDoc")) { ?>
      <dt class="tag-version">Deprecated<?js= typeof doc.deprecated === "string" ? ":" : "" ?></dt>

      <?js if (typeof doc.deprecated === "string") { ?>
          <dd class="tag-version"><ul class="dummy"><li><?js= doc.deprecated ?></li></ul></dd>
      <?js } ?>
    <?js } ?>

    <?js if (doc.version) {?>
        <dt class="tag-version">Version:</dt>
        <dd class="tag-version"><ul class="dummy"><li><?js= version ?></li></ul></dd>
    <?js } ?>

    <?js if (doc.since) {?>
        <dt class="tag-since">Since:</dt>
        <dd class="tag-since"><ul class="dummy"><li><?js= since ?></dd>
    <?js } ?>

    <?js if (doc.author && author.length) {?>
        <dt class="tag-author">Author:</dt>
        <dd class="tag-author">
            <ul><?js author.forEach(function(a) { ?>
                <li><?js= self.resolveAuthorLinks(a) ?></li>
            <?js }); ?></ul>
        </dd>
    <?js } ?>

    <?js if (doc.copyright) {?>
    <dt class="tag-copyright">Copyright:</dt>
    <dd class="tag-copyright"><ul class="dummy"><li><?js= copyright ?></li></ul></dd>
    <?js } ?>

    <?js if (doc.license) {?>
    <dt class="tag-license">License:</dt>
    <dd class="tag-license"><ul class="dummy"><li><?js= license ?></li></ul></dd>
    <?js } ?>

    <?js if (doc.defaultValue) {?>
    <dt class="tag-default">Default Value:</dt>
    <dd class="tag-default"><ul class="dummy"><li><?js= doc.defaultValue ?></li></ul></dd>
    <?js } ?>

    <?js if (doc.tutorials && tutorials.length) {?>
    <dt class="tag-tutorial">Tutorials:</dt>
    <dd class="tag-tutorial">
        <ul><?js tutorials.forEach(function(t) { ?>
            <li><?js= self.tutoriallink(t) ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>

    <?js if (doc.see && see.length) {?>
    <dt class="tag-see">See:</dt>
    <dd class="tag-see">
        <ul><?js see.forEach(function(s) { ?>
            <li><?js= self.linkToDataType(s) ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>

    <?js if (doc.todo && todo.length) {?>
    <dt class="tag-todo">TODO</dt>
    <dd class="tag-todo">
        <ul><?js todo.forEach(function(t) { ?>
            <li><?js= t ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>
</dl>
