<?js
const doc = obj;
var self = this;
var typeSignature = '';

if (doc.dataType) {
    typeSignature += '<span class="type-signature type">';
    doc.dataType.slice(1).forEach(function (name) {
        typeSignature += self.linkto(name, self.htmlsafe(name));
        typeSignature += ' | ';
    });
    typeSignature = typeSignature.slice(0, -3) + '</span>';
} else if (doc.type !== "EventDoc" && doc.signature) {
  typeSignature = doc.signature
}
?>
<dt>
    <div class="nameContainer">
        <h4 class="name" id="<?js= id ?>">
            <a class="share-icon" href="#<?js= id ?>"><span class="glyphicon glyphicon-link"></span></a>
            <span class="<?js= doc.deprecated ? 'status-deprecated' : '' ?>"><?js= (doc.scope === "static" ? doc.path : doc.name) ?></span>
            <?js= typeSignature ?>
            <?js if (doc.deprecated) { ?>
                <span class="access-signature deprecated">Deprecated<?js
                    if (typeof doc.deprecated === 'string') { ?>
                    : <span class="deprecated-info"><?js= doc.deprecated ?></span>
                    <?js }
                ?>
                </span>
            <?js } ?>
            <?js= doc.attribs ?>
            <?js if (doc.inherited) { ?>
                <span class="access-signature inherited"><?js= this.linkTo(doc.inherits, 'inherited') ?></span>
            <?js } ?>
            <?js if (doc.overrides) { ?>
                <span class="access-signature overrides"><?js= this.linkTo(doc.overrides, 'overrides') ?></span>
            <?js } ?>
        </h4>
    </div>
</dt>
<dd>
    <?js if (doc.brief) { ?>
      <p class="description"><?js= doc.brief ?></p>
    <?js } ?>
    <?js if (doc.description) { ?>
    <div class="description">
        <?js= doc.description ?>
    </div>
    <?js } ?>

    <?js= this.partial('details.tmpl', doc) ?>

    <?js if (doc.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
