<?js
  const {
    title /*: string */,
    group /*: Doc[] */,
    template /*: string */
  } = obj;

  const groupID = this.generateRandomID();
?>

<div class="panel collapsible-group-container">
    <section class="panel-heading collapsible-group-header">
        <a class="btn" role="button" data-toggle="collapse" href="#<?js= groupID ?>">
            <img src="icons/chevron-down.svg" />
        </a>
        <h4><?js= title ?></h4>
    </section>
    <section class="panel-collapse collapse in" id="<?js= groupID ?>">
        <section class="panel-body collapsible-group-body">
            <?js
                group.forEach((doc) => {
            ?>
                <?js= this.partial(template || 'members.tmpl', doc) ?>
            <?js }); ?>
        </section>
    </section>
</div>
